/*Css Styles*/
* {
    margin:0;
    padding:0; 
    box-sizing: border-box;
}

body {
    background-image: url(../images/background.jpeg);
    font-size:100%;
    font-family: "Times New Roman", serif, Arial;
    background-color:#ffffff;
}

#wrapper {
    width: 940px;
    margin: 200px auto 30px auto;
    padding: 20px;
    background-color: rgba(240, 255, 240, .94);
    overflow: hidden;
}

header {
    position: fixed;
    width:100%;
    top:0;
    background-color: #fff;
    background-image: url(../images/header-background.jpeg);
}

header img {
    width: 150px;
    margin: 15px 0 15px 500px;
}

nav {
    height:50px;
    width:100%;
    line-height:50px;
    background:yellow;
    background-image: url(../images/navBackground.jpg);
}

nav ul{
    width:980px;
    margin: 0 auto;
}
nav li {
    float: left;
    list-style-type: none;
    width:50%;
    text-align: center;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
    display: block;
    color:#fff;
}

nav a:hover {
    background-color: darkgreen;
}

main {
    float: left;
    width:680px;
}

body.inner main {
    width: 100%;
    float: none;
}

body.inner main img {
    display:block;
    width: 750px;
    margin: 0 auto 15px auto;
}

aside {
    border: 1.5px solid darkgreen;
    background: lightgreen;
    width:220px;
    margin-top: 10px;
    padding: 10px;
    float: right;
}

footer {
    margin-top: 5px;
    border-top: 1px dotted #666;
    clear:both;
    padding-left: 20px;
}

footer li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 8px;
}

footer img {
    width: 25px;
    height: 30px;
}
img.right {
    float: right;
    margin: 0 20px 5px 0;
    padding-left: 5px;
}

img.left {
    float: left;
    width: 200px;
    margin: 10px 10px 20px 0;
    padding-right: 5px;
}

/*****************************Typography*****************************/

p {
    margin-bottom: 20px;
    line-height: 1.5em;
}

h1 {
    margin-top:5px;
    margin-bottom:7px;
    font-family: helvetica, serif, arial;
    font-size: 2.441em;
    line-height:1.15;
}

h2 {
    margin-bottom:7px;
    font-family: helvetica, serif, arial;
    font-size: 1.953em;
    line-height:1.15;
}

h3 {
    margin-bottom:7px;
    font-family: helvetica, serif, arial;
    font-size: 1.563em;
    line-height:1.15;
}

aside p {
    font-size: .875em;
    color:#666;
}              
aside h3 {
    font-size: 1.2em;
    color:darkgreen;
}